@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

body {
  font-family: 'Dosis',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

.progress-circle {
  position: relative;
  display: inline-block;
  margin: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ebebeb; }

.progress-circle:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: colorload 2s;
  animation: colorload 2s; }

.progress-circle span {
  font-size: 1rem;
  color: #000;
  position: absolute;
  left: 70%;
  top: 70%;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: -30px;
  margin-top: -30px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  z-index: 1;}

.progress-circle span:after {
  font-weight: 100;
  color: #000; }

.progress-circle.progress-0:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(90deg, #2C3541 50%, #ebebeb 50%, #ebebeb); }

  .progress-circle.progress-1:after {
      background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(126deg, #2C3541 50%, #ebebeb 50%, #ebebeb); }
  .progress-circle.progress-2:after {
      background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(151.2deg, #2C3541 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.progress-3:after {
background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(198deg, #2C3541 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.progress-4:after {
      background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(234deg, #2C3541 50%, #ebebeb 50%, #ebebeb); }
  .progress-circle.progress-5:after {
      background-image: linear-gradient(-90deg, #2C3541 50%, transparent 50%, transparent), linear-gradient(270deg, #2C3541 50%, #ebebeb 50%, #ebebeb); }
  .progress-circle.progress-6:after {
      background-image: linear-gradient(-54deg, #2C3541 50%, transparent 50%, transparent), linear-gradient(270deg, #2C3541 50%, #ebebeb 50%, #ebebeb); }
  .progress-circle.progress-7:after {
      background-image: linear-gradient(-18deg, #2C3541 50%, transparent 50%, transparent), linear-gradient(270deg, #2C3541 50%, #ebebeb 50%, #ebebeb); }
  .progress-circle.progress-8:after {
      background-image: linear-gradient(18deg, #2C3541 50%, transparent 50%, transparent), linear-gradient(270deg, #2C3541 50%, #ebebeb 50%, #ebebeb); }
  .progress-circle.progress-9:after {
      background-image: linear-gradient(54deg, #2C3541 50%, transparent 50%, transparent), linear-gradient(270deg, #2C3541 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.progress-10:after {
background-image: linear-gradient(90deg, #2C3541 50%, transparent 50%, transparent), linear-gradient(270deg, #2C3541 50%, #ebebeb 50%, #ebebeb); }


@-webkit-keyframes colorload {
  0% {
    opacity: 0;
    transform: rotate(0deg); }
  100% {
    opacity: 1;
    transform: rotate(360deg); } }

/*# sourceMappingURL=progress-circle.css.map */

.dark-gradient-bg{
  background-image: linear-gradient(to right, #0e1319, #161b22, #1d242c, #242c36, #2c3541);
}
.dark-gradient-bgRL{
  background-image: linear-gradient(to left, #0e1319, #161b22, #1d242c, #242c36, #2c3541);
}
.light-gradient-bg{
  background-image: linear-gradient(to right, #ffffff, #f5f5f6, #ececec, #e2e2e3, #d9d9da);
}
.light-gradient-bgRL{
  background-image: linear-gradient(to left, #ffffff, #f5f5f6, #ececec, #e2e2e3, #d9d9da);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  /* border-radius: 16px; */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


@tailwind base;
@tailwind components;
@tailwind utilities;